<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YkLis</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 设定web项目的环境参数,可以在servlet中用getServletContext().getInitParameter("参数名称")取得参数值 -->
  <context-param>
    <param-name>jsRandom</param-name>
    <param-value>${build.time}</param-value>
  </context-param>  
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
    <load-on-startup>1</load-on-startup>    
  </servlet>
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <!-- 路径定义为/,表示这是一个default servlet.即如果其他规则都没有找到相应的servlet，就会将请求扔到这里来 -->
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 生成图形验证码servlet -->
  <servlet>
  	<servlet-name>kaptcha</servlet-name>
  	<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  	<init-param>
  	 	<description>是否有边框</description>
  		<param-name>kaptcha.border</param-name>
  		<param-value>no</param-value>
  	</init-param>
  	<init-param>
  		<description>字体颜色</description>
  		<param-name>kaptcha.textproducer.font.color</param-name>
  		<param-value>red</param-value>
  	</init-param>
  	<init-param>
  		<description>图片宽度</description>
  		<param-name>kaptcha.image.width</param-name>
  		<param-value>110</param-value>
  	</init-param>
  	<init-param>
  		<description>使用哪些字符生成验证码</description>
  		<param-name>kaptcha.textproducer.char.string</param-name>
  		<param-value>ACDEFHKPRSTWX345678</param-value>
  	</init-param>
  	<init-param>
  		<description>图片高度</description>
  		<param-name>kaptcha.image.height</param-name>
  		<param-value>40</param-value>
  	</init-param>
  	<init-param>
  		<description>字体大小</description>
  		<param-name>kaptcha.textproducer.font.size</param-name>
  		<param-value>32</param-value>
  	</init-param>
  	<init-param>
  		<description>干扰线颜色</description>
  		<param-name>kaptcha.noise.color</param-name>
  		<param-value>black</param-value>
  	</init-param>
  	<init-param>
  		<description>字符个数</description>
  		<param-name>kaptcha.textproducer.char.length</param-name>
  		<param-value>4</param-value>
  	</init-param>
  	<init-param>
  		<description>字体</description>
  		<param-name>kaptcha.textproducer.font.names</param-name>
  		<param-value>Arial</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>kaptcha</servlet-name>
  	<url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  
  <!-- Spring Session -->
  <filter>
	<filter-name>springSessionRepositoryFilter</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>springSessionRepositoryFilter</filter-name>
	<url-pattern>/*</url-pattern>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>ERROR</dispatcher>
  </filter-mapping>
  
  <!-- 登陆校验begin -->
  <filter>
    <filter-name>loginFilter</filter-name>  
    <filter-class>com.yklis.yklis.filter.LoginFilter</filter-class>  
  </filter>  
  <filter-mapping>  
        <filter-name>loginFilter</filter-name>
        <!-- 表示所有请求都会进入该过滤器中进行处理 -->
        <url-pattern>/*</url-pattern>  
  </filter-mapping>
  <!-- 登陆校验end -->  
</web-app>