<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YkLis</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 设定web项目的环境参数,可以在servlet中用getServletContext().getInitParameter("参数名称")取得参数值 -->
  <context-param>
    <param-name>jsRandom</param-name>
    <param-value>${build.time}</param-value>
  </context-param>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
    <load-on-startup>1</load-on-startup>    
  </servlet>
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <!-- 路径定义为/,表示这是一个default servlet.即如果其他规则都没有找到相应的servlet，就会将请求扔到这里来 -->
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 登陆校验begin -->
  <filter>
    <filter-name>loginFilter</filter-name>  
    <filter-class>com.yklis.yklis.filter.LoginFilter</filter-class>  
  </filter>  
  <filter-mapping>  
        <filter-name>loginFilter</filter-name>
        <!-- 表示所有请求都会进入该过滤器中进行处理 -->
        <url-pattern>/*</url-pattern>  
  </filter-mapping>
  <!-- 登陆校验end -->
  
  <servlet>
    <description></description>
    <display-name>StartupServlet</display-name>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>com.yklis.yklis.business.StartupServlet</servlet-class>
    
    <!-- 该Servlet中用ServletConfig.getInitParameter("config-file")可取得param-value -->
    <!-- <init-param>
      <param-name>config-file</param-name>
      <param-value>quartz.properties</param-value>
    </init-param> -->        
  </servlet>  
</web-app>